/* INICIO RESET */
:root {
    --oscuro: #4c394e;
    --claro: #f0f0f0;
    --white: #fff;
    --negro: #403042;
    --button: #10bbd5;
    --active-button: #50e1f4;
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
    --principal-size: .8em;
}
  

@media (prefers-color-scheme: dark) {
    :root {
      --oscuro: #f0f0f0;
      --claro: #403042;
      --white: #403042;
      --negro: #fff;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* border: 1px solid red; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
  
p a {
    display: inline;
}
  
li {
    list-style-type: none;
}
  
html {
    scroll-behavior: smooth;
}
  
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
  
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: #FF0072;
    color: var(--white);
}

::selection {
    background-color: #FF0072;
    color: var(--white);
}

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}
  
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
  
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--oscuro);
    background-color: var(--claro);
}
/* FIN RESET */
/* INICIO HEADER */
    header {
        width: 100%;
    }

    header div.contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    
    header div.contenedor .heading {
        max-height: 45px;
        background-color: var(--negro);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10px;
    }

    .heading .fa-book {
        color: var(--button);
    }
    
    .heading p, .heading i {
        display: inline-block;
        color: var(--white);
    }
    
    header div.contenedor .heading a img {
        max-height: 45px;
    }

    .contenedor .search-tool {
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--oscuro);
        padding: 5px 10px;
    }

    .contenedor .search-tool .search-bar {
        height: 100%;
        width: 100%;
        background: var(--white);
        display: flex;
        align-items: center;
    }

    .contenedor .search-tool .search-bar input {
        background: var(--white);
        flex: 1;
        border: 0;
        outline: none;
        color: var(--oscuro);
    }

    ::placeholder {
        color: var(--oscuro);
        padding: 10px;
        font-size: var(--principal-size);
    }

    .contenedor .search-tool .search-bar button {
        background: var(--button);
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
        padding: 5px 7px;
        color: var(--white);
    }

    .contenedor .search-tool .search-bar button:hover {
        background: var(--active-button);
    }

    .contenedor .shipping {
        height: 30px;
        width: 100%;
        background: var(--button);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor .shipping:hover {
        background-color: var(--active-button);
    }

    .contenedor .shipping p {
        margin-left: 10px;
        font-size: var(--principal-size);
    }
/* FIN HEADER */
/* INICIO HERO */
    .hero {
        height: 80vh;
        width: 100vw;
    }
    
    .hero h1 {
        font-weight: 900;
        text-align: center;
        margin: 20px 0px;
    }
    
/*FIN HERO */
    .margin5 {
        margin: 5px 0;
    }
    
    .publicity {
        display: flex;
        justify-content: center;
    }

    .publicity img {
        max-height: 300px;
        max-width: 1000px;
        object-fit: cover;
    }

    .book-caroussel-to-be {
        background: var(--white);
        padding: 5px 10px;
    }

    .book-caroussel-to-be h2 {
        font-weight: 700;
        border-bottom: 1px solid var(--claro);
        padding-bottom: 5px; 
    }

    .book-container {
        max-height: 320px;
        display: flex;
        flex-flow: row nowrap;
        overflow: scroll;
    }
    
    .book-presentation {
        width: 160px;
        min-width: 150px; 
        padding: 5px 10px 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .book-presentation img {
        max-width: 70px;
    } 

    .book-presentation .author-name .book-title {
        font-weight: bold;
    }

    .book-presentation .author-name{
        font-size: var(--principal-size);
        margin: 5px 0;
        line-height: 1.5em;
    }

    .book-presentation .price-tag{
      color: #FF0072;
      margin-top: 20px;
    }

    .book-presentation .the-basket, .form-button {
        font-size: min(3vw, .8em);
        font-weight: bold;
        color: var(--white);
        background: var(--button);
        border-radius: 5px;
        padding: 7px 15px;
        margin-top: 20px;
    }

    .book-presentation .the-basket:hover, .form-button:hover  {
        background: var(--active-button)
    }

    section.book-categories {
        display: flex;
        flex-flow: column nowrap;
    }

    .book-categories-items {
        height: 20%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .book-categories-items .book-categories-item {
        height: 20%;
        width: 250px;
        background: var(--white);
        padding: 10px;
    }
    
    .book-categories-item .go-to-category {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .book-categories-item .go-to-category p {
        text-align: center;
    }

    .book-categories-small {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 10px;
    }

    .book-categories-small-item {
        background: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    section.text {
        background: var(--white);
        text-align: center;
        padding: 15px;
        font-size: var(--principal-size);
    }

    p.second-text {
        margin-top: 20px;
    }

    section.contact-us {
        max-width: 600px;
        background: var(--white);
        padding: 15px;
        margin: 5px auto;
    }

    .contact-us h2 {
        font-weight: bold;
        font-weight: 700;
        border-bottom: 1px solid var(--claro);
        padding-bottom: 5px;
    }

    .contact-us p {
        font-size: var(--principal-size);
        margin: 10px 0;
        line-height: 1.5em;
    }

    .contact-us form {        
        font-size: var(--principal-size);
    }

    .contact-us form input, .contact-us form textarea, .contact-us form select {
        border: 1px solid var(--oscuro);
        padding: 5px;
        width: 100%;
    }

    .contact-us form label {
        margin: 10px;
    }

    form .form-button {
        margin: auto;
    }

    .social-networks {
        height: 60px;
        width: 100%;
        background: var(--white);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: var(--oscuro);
        gap: 10px;
    }

    .social-networks .icons-container {
        letter-spacing: 10px;
    }

    /* INICIO FOOTER */
    .footer {
        display: flex;
        justify-content: center;
        background: var(--oscuro);
        color: var(--white);
        padding: 10px;
    }

    .footer .footing {
        padding: 0 5%;
    }

    .footer .footing h2 {
        font-weight: bold;
        margin: 15px
        0;
    }

    .footer .footing a {
        font-size: var(--principal-size);
        border-bottom: 1px solid var(--claro);
        line-height: 1.5em;
        padding: 10px 0;
    }
    .color-change {
        color: #FF0072;
    }
    /* FIN FOOTER */

/* menu hamburguesa */
    #menu-label, #menu-check, #hamburguer-list, div.first-div p.hamburguer {
        display: none;
    }
/* fin menu hamburguesa */

    @media only screen and (max-width: 617px) {
        div.contenedor .first-div p.hamburguer {
            display: inline;
            color: transparent;
        }

        #menu-check:not(:checked) ~ nav {
            display: none;
        }

        #menu-check:checked ~ nav {
            display: block;
        }

        #menu-label {
            width: 20px;
            height: 20px;
            display: block;
            color: var(--white);
            background: transparent;
            font-size: var(--principal-size);
            font-weight: bold;
            border-radius: 5px;
            text-align: center;
            padding: 2px;
            position: absolute;
            left: 0.5em;
            top: 0.5em;
            z-index: 9999;
        }

        #menu-label:hover {
            color: var(--negro);
            background: var(--white);
        }

        #menu-close {
            display:none;
        }

        #menu-check:checked ~ label #menu-open {
            display: none;
        }

        #menu-check:checked ~ label #menu-close {
            display: block;
        }

        div.contenedor .first-div nav {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: var(--oscuro);
            padding-top: 0;
            padding-left: 2.6em;
            padding-right: 2.6em;
            line-height: 2.5em;
            opacity: .9;
            color: var(--claro);
        }

        div.contenedor nav ul a p {
            color: var(--white);
        }

        div.contenedor nav ul, div.contenedor nav ul li {
            display: block;
            text-align: left;
        }

        .footer {
            display: flex;
            flex-flow: column nowrap;
        }
    
        .footer a:not(.mobile-yes), footer h2:not(.mobile-yes) {
            display: none;
        }
        
        .footer .mobile-yes {
            display: inline;
        }
    
        .footer .footing p {
            margin: 10px 0;
        }
    
        .footer .footing a {
            border: none;
        }

    @media only screen and (min-width:618px) {
        .boxes-4 .book-categories-item {
            height: 17%;
            max-height: 230px;
            width: 24%;
        }

        .book-categories-small {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
        }

        .boxes-3 .book-categories-small-item {
            height: 60px;
            width: 32%;
            display: flex;
            align-items: center;
        }

        .boxes-4 .book-categories-small-item {
            height: 60px;
            width: 24%;
            display: flex;
            align-items: center;
        }
        
        .boxes-5 .book-categories-small-item {
            height: 60px;
            width: 19%;
            display: flex;
            align-items: center;
        }
    }
    /* .slider-container .slider {
        min-height: 330px;
        max-height: 430px;
        display: flex;
        justify-content: center;
    }

    .book-review {
        display: none
    }

    .slider-container .slider-list ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    ul.slider-list {
        position: relative;
        width: 100%;
        max-height: 430px;
    }

    ul.slider-list li {
        position: absolute;
        left: 0;
        top: 0;
        margin: auto;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul.slider-list li img {
        height: 430px;
        max-width: 286px;
        object-fit: cover;
    }

    ul.slider-list li:first-child {
        opacity: 1;
    }

    ul.slider-list li:target {
        opacity: 1;
    }

    ul.slider-menu {
        width: 100%;
        min-width: 280px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    ul.slider-menu  li {
        margin: .5em;
        padding: 6px 10px;
        background: var(--oscuro);
        color: var(--claro);
        border-radius: 100%;
    } */
/* FIN HERO */

/* @media only screen and (max-width: 615px) {
    .slider-container .slider {
        max-height: 330;
        max-width: 230px;
    }

    ul.slider-list {
        max-height: 330px;
    }

    ul.slider-list li img {
        height: 330px;
    }
}

@media only screen and (min-width: 616px) {
    .slider-list li {
        display: inline-grid;
        flex-flow: row nowrap;
        grid-template-columns: 1fr 1fr;
    }

    .book-review {
        max-width: 286px;
        display: inline;
        height: 430px;
        overflow: hidden; 
        background: var(--claro)
    }

    
} */